
body {
	margin: 0;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 15px;
	line-height: 30px;
}

header {
	background-color: #c92828;
	text-align: center;
	padding-top: 50px;
	padding-bottom: 50px;
}

h1,h2, h3, p, a, li, label {
	font-family: 'Nunito', sans-serif;
}

header h1 {
	color: black;
	font-size: 50px;
}

header img {
	border-radius: 150px;
	border: 15px solid black;
}

main {
	max-width: 800px;
	margin: 0 auto;
	padding: 20px;
}

main img {
	max-width: 100%;
}

h2 {
	font-size: 30px;
	color: #e70e19;
	margin: 40px 0 10px;
}

a {
	color: #e70e19;
}

a:hover {
	color: red;
	background-color: white;
}

footer {
	background-color: #c92828;
	text-align: center;
	color: white;
	padding: 50px;
}

footer p{
	margin: 0;
}

footer a {
	color: white;
}

footer a:hover {
	opacity: .5;
	background-color: transparent;
}

p.caption {
	color: #e70e19;
	font-style: italic;
	margin-top: 0;
	text-align: center;
}

div.about {
	background-color: #1c1c1c;
	padding: 25px;
	margin: 10px;
	border-radius: 10px;
}

div.procedure {
	background-color: #1c1c1c;
	padding: 25px;
	margin: 10px;
	border-radius: 10px;
}

div.video {
	background-color: #1c1c1c;
	padding: 25px;
	margin: 10px;
	border-radius: 10px;
}

div.buy {
	background-color: #1c1c1c;
	padding: 25px;
	margin: 10px;
	border-radius: 10px;
}

div.form {
	color: white;
	background-color: #1c1c1c;
	padding: 25px;
	margin: 10px;
	border-radius: 10px;
}

div.soon {
	color: white;
	background-color: #1c1c1c;
	padding: 25px;
	margin: 10px;
	border-radius: 10px;
}

div.mail {
	color: white;
	background-color: #1c1c1c;
	padding: 25px;
	margin: 10px;
	border-radius: 10px;
}

div.soon {
	color: white;
	background-color: #1c1c1c;
	padding: 25px;
	margin: 10px;
	border-radius: 10px;
}

p {
	color: white;
}

li {
	color: white;
}

h3 {
	color: #e70e19;
}

img {
	border-radius: 10px;
}

iframe {
	border-radius: 10px;
}

/*navigation bar*/

.topnav {
  overflow: hidden;
  background-color: #1c1c1c;
  max-width: 780px;
  margin: 0 auto;
  border-radius: 10px;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 17px 55.75px;
  text-decoration: none;
  font-size: 20px;
}

.topnav a:hover {
  background-color: #c92828;
  color: black;
}

.topnav a.active {
  background-color: white;
  color: black;
}

.topnav .icon {
  display: none;
}

@media screen and (max-width: 820px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 820px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}
