body {
	margin: 0;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 15px;
	line-height: 30px;
}

header {
	background-color: darkred;
	text-align: center;
	padding-top: 50px;
	padding-bottom: 50px;
}

h1,h2, p, a, li {
	font-family: 'Courgette', cursive;
}

header h1 {
	color: gold;
	font-size: 50px;
}

header img {
	border-radius: 150px;
	border: 15px solid gold;
}

main {
	max-width: 800px;
	margin: 0 auto;
	padding: 20px;
}

main img {
	max-width: 100%;
}

h2 {
	font-size: 30px;
	color: #e70e19;
	margin: 40px 0 10px;
}

a {
	color: #e70e19;
}

a:hover {
	color: white;
	background-color: gold;
}

footer {
	background-color: darkred;
	text-align: center;
	color: white;
	padding: 50px;
}

footer p{
	margin: 0;
}

footer a {
	color: white;
}

footer a:hover {
	opacity: .5;
	background-color: transparent;
}

p.caption {
	color: #e70e19;
	font-style: italic;
	margin-top: 0;
}

div.about {
	background-color: gold;
	padding: 25px;
	margin: 10px;
	border-radius: 10px;
}

div.characteristics {
	background-color: gold;
	padding: 25px;
	margin: 10px;
	border-radius: 10px;
}

div.friends {
	background-color: gold;
	padding: 25px;
	margin: 10px;
	border-radius: 10px;
}
